mixin nav
  nav.nav
    ul.nav__links-list.hidden
      +nav-item('home')
      +nav-item('ornare')
      +nav-item('pharetra')
      +nav-item('laoreet')

mixin nav-btn
  button.nav-btn.nav-btn--disabled(aria-label='Hamburger menu')
    .nav-btn__item.nav-btn__item-first
    .nav-btn__item.nav-btn__item-second
    .nav-btn__item.nav-btn__item-third

mixin nav-item(sectionTitle)
  li.nav__item(class= 'nav__item-' + sectionTitle)
    a.nav__item-link(href='#' + sectionTitle)
      button.nav__item-link-btn= sectionTitle

mixin home
  section#home.home.section.home--disabled
    .home__inscriptions
      h1.home__title.home__title--disabled Excepteur orci
      .home__description.home__description--disabled Sed felis eget velit aliquet sagittis id consectetur purus. Ac ut consequat semper viverra nam. Facilisis sed odio morbi quis commodo.
    .home__social
      ul.home__social-list
        +home-social('facebook')
        +home-social('instagram')
        +home-social('twitter')
    .home__indicator.section__indicator.section__indicator--disabled.section__indicator.section__indicator--disabled--disabled

mixin home-social(socialName)
  li.home__social-item(class= 'home__social-item-' + socialName)
    a.home__social-link(
      href='https://' + socialName + '.com',
      target='_blank', class= 'home__social-link-' + socialName,
      rel='noopener'
    )
      button.home__social-link-btn(aria-label= socialName)
        img.home__social-img(src='images/home/' + socialName + '.svg', alt='')

mixin ornare
  section#ornare.ornare.section
    +ornare-item(
      'Sed cras ornare arcu dui',
      'Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit.',
      'https://google.com',
      'images/ornare/first_illustration.jpg',
      false
    )
    +ornare-item(
      'Ultrices dui sapien eget mi',
      'Consectetur adipiscing elit ut aliquam purus sit amet. Eu lobortis elementum nibh tellus molestie nunc. Gravida quis blandit turpis cursus in hac.',
      'https://google.com',
      'images/ornare/second_illustration.jpg',
      true
    )
    +ornare-item(
      'Fermentum odio eu feugiat',
      'Sit amet justo donec enim diam vulputate ut pharetra sit. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Dictum sit.',
      'https://google.com',
      'images/ornare/third_illustration.jpg',
      false
    )

mixin ornare-item(title, description, link, imagePath, isReversed)
  article.ornare__item.ornare__item--disabled
    if isReversed
      .ornare__wrapper.ornare__wrapper--reversed
        +ornare-item-inner(title, description, link, imagePath)
    else
      .ornare__wrapper
        +ornare-item-inner(title, description, link, imagePath)

    .ornare__indicator.section__indicator.section__indicator--disabled

mixin ornare-item-inner(title, description, link, imagePath)
  .ornare__illustration
    .ornare__illustration-decor
    img.ornare__illustration-img(src= imagePath, alt='')
  .ornare__content
    .ornare__content-title= title
    .ornare__content-description= description
    +content-button('more', 'ornare', 'https://google.com')

mixin pharetra
  section#pharetra.pharetra.section
    .pharetra__content.pharetra__content--disabled
      +pharetra-content-item(
        'Dolor purus non enim praesent elem',
        'Vestibulum lorem sed risus ultricies. Aerat nam at lectus. Id velit ut tortor pretium viverra suspendisse potenti. Sodales neque sodales ut etiam sit amet nisl purus in.',
        1
      )
      +pharetra-content-item(
        'Libero volutpat sed cras ornare arcu',
        'Sagittis orci a scelerisque purus semper eget duis at. Nulla facilisi dignissim diam quis enim. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa.',
        2
      )
      .pharetra__indicator.section__indicator.section__indicator--disabled
    +pharetra-form
    
mixin pharetra-content-item(title, description, index)
  .pharetra__content-item(class= 'pharetra__content-item-' + index)
    h1.pharetra__content-title= title
    .pharetra__content-description= description

mixin pharetra-form
  form.pharetra__form.pharetra__form--disabled(action='')
    h1.pharetra__form-title Subscribe us
    .pharetra__form-message-container
      .pharetra__form-message.pharetra__form-message--disabled.pharetra__form-message-warning *email address incorrect
      .pharetra__form-message.pharetra__form-message--disabled.pharetra__form-message-sended *email sended
    .pharetra__form-wrapper
      label.pharetra__form-input-container
        input.pharetra__form-input(type='text', name='email')
        .pharetra__form-input-placeholder Your email
      +submit-button('send', 'pharetra')
    
mixin laoreet
  section#laoreet.laoreet.section.laoreet--disabled
    +laoreet-item(
      'Pellentesque elit eget',
      'Aliquet eget sit amet tellus cras adipiscing. Est velit egestas dui id ornare arcu. Quis risus sed vulputate odio ut enim blandit volutpat maecenas.',
      1
    )
    +laoreet-item(
      'Mi proin sed libero',
      'Suspendisse in est ante in nibh mauris cursus mattis. Turpis massa tincidunt dui ut ornare lectus sit amet est. Et malesuada fames ac turpis egestas.',
      2
    )
    +laoreet-item(
      'Faucibus interdum',
      'Et malesuada fames ac turpis egestas. Faucibus interdum posuere.',
      3
    )
    .laoreet__indicator.section__indicator.section__indicator--disabled

mixin laoreet-item(title, description, index)
  .laoreet__item(class= 'laoreet__item-' + index)
    h1.laoreet__item-title= title
    .laoreet__item-description= description

mixin footer
  footer.footer.footer--disabled
    .footer__signature Powered by
      a.footer__signature-link(href='https://t.me/uglehell', target='_blank') Uglehell
    .footer__buttons-container
      +bigger-content-button('Behance', 'footer', 'https://www.behance.net/gallery/110496083/Excepteur-orci-Website-design')
      +bigger-content-button('GitHub', 'footer', 'https://github.com/uglehell/excepteur_orci')

mixin content-button(value, section, link)
  a.section__content-btn.content-btn(href= link, target='_blank', class= section + '__content-btn', rel='noopener')
    button.content-btn__wrapper(aria-label='Content link')
      span.content-btn__value= value
      span.content-btn__border.content-btn__border-top
      span.content-btn__border.content-btn__border-right
      span.content-btn__border.content-btn__border-bottom
      span.content-btn__border.content-btn__border-left

mixin submit-button(value, section)
  .section__content-btn.content-btn.submit-btn(class= section + '__submit-btn')
    input.content-btn__wrapper.submit-btn__wrapper(type='button', value= value)
    span.content-btn__border.content-btn__border-top
    span.content-btn__border.content-btn__border-right
    span.content-btn__border.content-btn__border-bottom
    span.content-btn__border.content-btn__border-left

mixin bigger-content-button(value, section, link)
  a.section__content-btn.content-btn.bigger-content-btn(href= link, target='_blank', class= section + '__content-btn', rel='noopener')
    button.content-btn__wrapper(aria-label='Content link')
      span.content-btn__value= value
      span.content-btn__border.content-btn__border-top
      span.content-btn__border.content-btn__border-right
      span.content-btn__border.content-btn__border-bottom
      span.content-btn__border.content-btn__border-left
